# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEA
.idea/
*.iml
*.iwr
local.properties

# Eclipse
.settings/
.project
.classpath
.checkstyle
.pmd

# Gradle
.gradle
build
