https://github.com/Gianfrancoalongi/incremental_katas/tree/master/Grocery_store

1) write a program that reads ROS files and generates the grand
   total income for each ROS file.
   e.g.
   bread, 1, 2
   12-pack of eggs, 1, 3

2) add a category from lookup file to enrich the ROS files and
   generate total income for each category
   e.g.
   wheat and pasta: 10
   fruit: 20
   dairy: 40
   meat: 30
   total: 100
